asgiref==3.8.1
bleach==6.1.0
dj-database-url==2.1.0
Django==5.2.3
django-allauth==0.61.1
django-compressor==4.5.1
django-debug-toolbar==4.4.6
django-ratelimit==4.1.0
django-redis==5.4.0
Pillow==11.0.0
python-decouple==3.8
selenium==4.15.2
sentry-sdk==1.40.0
sqlparse==0.5.3
whitenoise==6.7.0

# Development dependencies
bandit==1.7.6
flake8==7.0.0
